<section class="bg-primary-900 px-14 pt-48 sm:px-8 sm:pt-36">
	<div class="mx-auto max-w-5xl">
      {% if fields.hero_title %}
		<h1 class="mx-auto mb-16 max-w-4xl text-center text-7xl font-bold tracking-tighter text-white lg:max-w-3xl lg:text-6xl sm:mb-12 sm:text-5xl">
			{{ fields.hero_title }}
		</h1>
      {% endif %}

      {% if fields.hero_video %}
		{% set hero_video = post.meta('group') %}
		<div class="relative aspect-video">
			<video autoplay muted poster="{{Image(fields.hero_video.poster).src}}" class="h-full w-full rounded-md object-cover">
				{% if fields.hero_video.mp4 %} <source src="{{ fields.hero_video.mp4 }}" type="video/mp4"></source> {% endif %}
				{% if fields.hero_video.webm %} <source src="{{ fields.hero_video.webm }}" type="video/webm"></source> {% endif %}
				{% if fields.hero_video.ogg %} <source src="{{ fields.hero_video.ogg }}" type="video/ogg"></source> {% endif %}
			</video>
         {% if fields.hero_video.link %}
			<a href="{{fields.hero_video.link}}" target="_blank" class="absolute top-2/4 left-2/4 flex h-40 w-40 -translate-x-2/4 -translate-y-2/4 scale-95 cursor-pointer items-center justify-center rounded-full bg-primary-900/75 backdrop-blur-md transition-all duration-300 ease-in-out hover:scale-100 hover:bg-primary-900 lg:h-32 lg:w-32 sm:h-24 sm:w-24">
				<img src="{{site_url}}/wp-content/uploads/2022/07/video-play.svg" alt=""/>
			</a>
         {% endif %}
		</div>
      {% endif %}
	</div>
</section>