<section class="py-32 lg:pt-16 lg:pb-0 overflow-x-hidden flex items-center">

   {% set c = fields.image_marquee|length %}
   {% set i = 100 / c %}

   <div class="flex items-center animate-scrolling">
      <div class="flex items-center">
         {% for image in fields.image_marquee %}
            <div class="flex items-center justify-center w-52">
               <img src="{{Image(image).src}}" alt="{{image.alt}}" class="w-full max-h-8 object-scale-down"/>
            </div>
         {% endfor %}
      </div>
      <div class="flex items-center">
         {% for image in fields.image_marquee %}
            <div class="flex items-center justify-center w-52">
               <img src="{{Image(image).src}}" alt="{{image.alt}}" class="w-full max-h-8 object-scale-down"/>
            </div>
         {% endfor %}
      </div>
      <div class="flex items-center">
         {% for image in fields.image_marquee %}
            <div class="flex items-center justify-center w-52">
               <img src="{{Image(image).src}}" alt="{{image.alt}}" class="w-full max-h-8 object-scale-down"/>
            </div>
         {% endfor %}
      </div>
      <div class="flex items-center">
         {% for image in fields.image_marquee %}
            <div class="flex items-center justify-center w-52">
               <img src="{{Image(image).src}}" alt="{{image.alt}}" class="w-full max-h-8 object-scale-down"/>
            </div>
         {% endfor %}
      </div>
   </div>

   <div class="flex items-center animate-scrolling">
      <div class="flex items-center">
         {% for image in fields.image_marquee %}
            <div class="flex items-center justify-center w-52">
               <img src="{{Image(image).src}}" alt="{{image.alt}}" class="w-full max-h-8 object-scale-down"/>
            </div>
         {% endfor %}
      </div>
      <div class="flex items-center">
         {% for image in fields.image_marquee %}
            <div class="flex items-center justify-center w-52">
               <img src="{{Image(image).src}}" alt="" class="w-full max-h-8 object-scale-down"/>
            </div>
         {% endfor %}
      </div>
      <div class="flex items-center">
         {% for image in fields.image_marquee %}
            <div class="flex items-center justify-center w-52">
               <img src="{{Image(image).src}}" alt="" class="w-full max-h-8 object-scale-down"/>
            </div>
         {% endfor %}
      </div>
      <div class="flex items-center">
         {% for image in fields.image_marquee %}
            <div class="flex items-center justify-center w-52">
               <img src="{{Image(image).src}}" alt="" class="w-full max-h-8 object-scale-down"/>
            </div>
         {% endfor %}
      </div>
   </div>

</section>
