{% extends "base.twig" %}

{% block content %}

		<article id="post-{{ post.ID }}" class="post-entry post-type-{{ post.post_type }} bg-white px-14 pt-48 sm:px-8 sm:pt-36">

			<section class="mx-auto max-w-post-wrap">
				<div class="max-w-post mx-auto">
					<a href="{{site.url}}/about-us/resources/blog/" class="inline-flex items-center justify-center rounded border border-neutral-200 py-3 px-6 transition-colors duration-300 ease-in-out hover:border-neutral-100 hover:bg-neutral-100">
						<ion-icon name="arrow-back-outline" class="mr-2 mt-px"></ion-icon> Blog
					</a>
					<h1 class="mt-6 mb-16 text-left text-6xl font-bold tracking-tighter text-primary-900 lg:text-6xl sm:mb-12 sm:text-5xl">{{ post.title|trim('￼') }}</h1>
				</div>
				<img src="{{ post.thumbnail.src }}" class="w-full h-[28rem] object-cover rounded-md">
			</section>

			<section class="mx-auto max-w-post pt-16 pb-24">
				<time datetime="{{ post.date|date('Y-m-d H:i:s') }}" class="block mb-6 font-bold uppercase text-neutral-500">{{ post.date }}</time>
				<div class="text-lg">
					{{post.content}}
				</div>
			</section>

		</article>

{% endblock %}
