{% if posts.pagination.pages is not empty %}
   <nav
      class="pagination flex items-center justify-center pb-32 lg:pb-16">

      {# Previous #}
      {% if posts.pagination.prev %}
         <a href="{{ posts.pagination.prev.link }}" class="inline-flex items-center justify-center rounded border border-neutral-200 py-3 px-8 transition-colors duration-300 ease-in-out w-32 hover:border-neutral-100 hover:bg-neutral-100 md:px-3 md:w-10 md:h-10">
            <span class="md:hidden">Prev</span>
            <ion-icon name="arrow-back-outline" class="ml-2 mt-px md:text-2xl md:m-0"></ion-icon>
         </a>
      {% else %}
         <button disabled class="inline-flex items-center justify-center rounded border text-neutral-400 cursor-not-allowed border-neutral-200 py-3 px-8 transition-colors duration-300 ease-in-out w-32 md:px-3 md:w-10 md:h-10">
            <span class="md:hidden">Prev</span>
            <ion-icon name="arrow-back-outline" class="ml-2 mt-px md:text-2xl md:m-0"></ion-icon>
         </button>
      {% endif %}

      {# Pages #}
      {% if posts.pagination.pages %}
         <div class="mx-32 flex items-center space-x-8 lg:mx-8 lg:space-x-4">
            {% for page in posts.pagination.pages %}
               {% if page.link %}
                  <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
               {% else %}
                  <span class="{{ page.class }} text-neutral-400">{{ page.title }}</span>
               {% endif %}
            {% endfor %}
         </div>
      {% endif %}

      {# Next #}
      {% if posts.pagination.next %}
         <a href="{{ posts.pagination.next.link }}" class="inline-flex items-center justify-center rounded border border-neutral-200 py-3 px-8 transition-colors duration-300 ease-in-out w-32 hover:border-neutral-100 hover:bg-neutral-100 md:px-3 md:w-10 md:h-10">
            <span class="md:hidden">Next</span>
            <ion-icon name="arrow-forward-outline" class="ml-2 mt-px md:text-2xl md:m-0"></ion-icon>
         </a>
      {% else %}
         <button disabled class="inline-flex items-center justify-center rounded border text-neutral-400 cursor-not-allowed border-neutral-200 py-3 px-8 transition-colors duration-300 ease-in-out w-32 md:px-3 md:w-10 md:h-10">
            <span class="md:hidden">Next</span>
            <ion-icon name="arrow-forward-outline" class="ml-2 mt-px md:text-2xl md:m-0"></ion-icon>
         </button>
      {% endif %}

   </nav>
{% endif %}
